<!doctype html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="description" content="[% page.description %]">
   <meta name="keywords" content="[% page.keywords %]">
   <meta name="author" content="[% page.author %]">
   <meta name="viewport" content="initial-scale=1">
   <link href="[% links.images %]favicon-[% prefs.theme %].png"
          rel="icon" type="image/png">
[% IF config.font -%]
   <link href="[% config.font %]" rel="stylesheet" type="text/css">
[% END -%]
   <link href="[% links.css %]theme-[% prefs.theme %].css"
          rel="stylesheet" type="text/css">
   <title>[% config.title %] - [% page.title %]</title>
</head>
<body>
   <div class="body">
   [% content %]
   </div>
</body>
</html>
